<nav>
    <div class="logo">
        <img src="./images/pinterestlogo.jpg" style="width: 2.5rem;" alt="">
        <h4>Pinterest</h4>
    </div>
    <div class="nav-item">
        <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Business</a></li>
            <li><a href="#">Blog</a></li>
        </ul>
        <div class="button">
            <% if(!user) {%>
                <button class="btn1"><a href="/signin">Sign in</a></button>
                <button class="btn2"><a href="/signup">Sign up</a></button>
              <%} else { %>
                <button class="btn2"><a href="/reset/<%= user._id%>">reset</a></button>
                <button class="btn2"><a href="/signout">Signout</a></button>
                <div class="profile-img"><a href="/profile"><img src="https://images.unsplash.com/photo-1539571696357-5a69c17a67c6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80" alt="profile" width="30" height="30"></a></div>
             <% } %>

        </div>
    </div>
</nav>