<section class="page3">
  <div class="page3-left">
     <div class="page3-left-center">
        <h1>Save Ideas you like</h1>
        <h4>collect your favorites so you can <br>
            get back to them later.</h4>
        <button>Explore</button>
     </div>
  </div>
  <div class="page3-right">
     <div class="page3-right-img1">
        <h1>Fern Future home vibes</h1>
        <div class="page3-right-img1-1">
            
        </div>
        <div class="page3-right-img1-2">
           
        </div>
        <div class="page3-right-img1-3">
           
        </div>
     </div>
     <div class="page3-right-img2">
        <h1>My Scandinavian bedroom</h1>
    </div>
    <div class="page3-right-img3">
        <h1>The deck of my dreams</h1>
    </div>
    <div class="page3-right-img4">
         <h1>Serve my drinks in style</h1>

     </div>
     <div class="page3-right-img5">
     <h1>Our bathroom</h1>
     </div>
  </div>
</section>