<section class="page4">
    <div class="page4-left">
        <div class="page4-img"></div>
    </div>
    <div class="page4-right">
        <div class="page4-right-center">
            <h1>See it, Make it, try it, do it</h1>
            <h4>The best part of Pinterest is discovering <br>
                new things and ideas from people around <br>
                the world</h4>
            <button class="button-explore">Explore</button>
        </div>
    </div>
</section>