<section class="page2">
   <div class="page2-left">
    <div class="center-card2">
        
    </div>
    <div class="center-card3">
        
    </div>
    <div class="center-card1">

    </div>
     <div class="center-card">

     </div>
   </div>
   <div class="page2-right">
    <div class="page2-right-center">
        <h1>Search For an idea</h1>
        <h4>What do you want to try next? Think <br>
        of something you're into- like" easy <br>
       chicken dinner" -and see what you <br> 
     find</h4>
     <button class="button-explore">Explore</button>
    </div>
   </div>
</section>