<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pinterest Clone</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
     <div class="navbar">
        <li><img src="logo.png" alt="logo" width="30" height="30"></li>
        <li>Home</li>
        <li>Today</li>
        <li class="search"><input type="search" placeholder="Search"></li>
        <li class="notification"><i class="fas fa-bell"></i></li>
        <li><i class="far fa-comment-dots"></i></li>
        <li class="profile"><img src="" alt="profile" width="30" height="30"></li>
    </div>

    
    <div class="main">
        <% posts.forEach(function(post){ %>
            <div class="card card_small">
                <img src="<%= post.image %>" alt="">
            </div> 
            <div class="card card_large">
                <img src="<%= post.image %>" alt="">
            </div> 
            <div class="card card_midium">
                <img src="<%= post.image %>" alt="">
            </div> 
        <% })%>
    </div>
</body>
</html>
