<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <%- include("./components/nav")%>
  <form action="/signup" class="container" accept="/signup" method="post">
    username <input name="username" type="text" class="form-control w-50 mb-3">
    Email: <input name="email" type="email" class="form-control w-50 mb-3">
    password: <input name="password" type="password" class="form-control w-50 mb-3">
    <button class="btn btn-primary">Login</button>
</form>
    
              <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
                crossorigin="anonymous"></script>
              <script src="/javascripts/hero.js"></script>
              <script src="/javascripts/content.js"></script>
</body>

</html>




