@import url("styleComponents/nav.css");
@import url("styleComponents/hero.css");
@import url("styleComponents/content.css");
@import url("styleComponents/page2.css");
@import url("styleComponents/page3.css");
@import url("styleComponents/page4.css");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Gilroy;
}
html,body{
  width: 100%;
  height: 100%;
}
/* .flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
a {
  text-decoration: none;
  color: inherit;
}