.hero{
    position: relative;
    background-color: aquamarine;
}
.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.heading>h1{
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
}
.heading .text-animate>h1{
    font-size: 3.8rem;
    font-weight: 500;
}
@media (max-width: 576px) {
 .heading>h1{
    font-size: 2rem;
 }
 .heading .text-animate>h1{
    font-size: 1.8rem;
}
}