.hero{
    position: relative;
    background-color: aquamarine;
}
.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.heading>h1{
    font-size: 4rem;
    font-weight: 500;
}
.heading .text-animate>h1{
    font-size: 3.8rem;
    font-weight: 500;
}
