nav{
    width: 100%;
    height: 5rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.7rem;
    margin-left: 1rem;
}
.logo img{
    border-radius: 50%;
}
.logo h4{
    color: red;
    font-family: Gilroy;
    font-weight: 500;
    font-size: 1.2rem;
}
.nav-item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.nav-item ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.nav-item ul li{
    list-style: none;
    font-size: 1rem;
    font-weight: 500;
}
.nav-item .button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-right: 1rem;
}
.nav-item ul li:hover{
    text-decoration: underline;
    }
button{
    width: 5.5rem;
    height: 2rem;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
}
.btn1{
    background-color: rgb(252, 79, 79);
    color: white;
}
.btn2{
    background-color: rgb(198, 227, 252);
    color: black;
}
.btn1:hover{
    background-color: red;
}
.btn2:hover{
    background-color: rgb(249, 191, 191);
}

@media only screen and (max-width: 600px) {
  nav{
    width: fit-content;
    gap: 3rem;
    overflow: hidden;
  }
  .nav-item ul{
    display: none;
  }
  .nav-item .button{
    margin-right: 0;
  }
  }